* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

div, button {
    display: flex;
    justify-content: center;
    flex: 1;
}
button {
    margin: 2px;
    border: 0;
    text-align: center;
    align-items: center;
    font-weight: 700;
    font-size: 24px;
    user-select: none;
    background-color: hsl(var(--hue), var(--saturation), var(--lightness));
}

button, #main-con {
    border-radius: 10px;
}

#main-con {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 400px;
    background-color: rgba(0, 0, 0);
    border: rgb(0, 255, 255) solid 3px;
}

#buttons-con {
    display: flex;
    flex-direction: column;
    padding: 2px;
}

#result {
    flex: 0;
    flex-wrap: nowrap;
    justify-content: flex-end;
    padding: 0 15px;
    font-size: 58px;
    border-bottom: rgb(0, 255, 255) solid 3px;
    font-family: Arial;
}

.numbers {
    --hue: 0;
    --saturation: 0%;
    --lightness: 60%;

}

.equals {
    --hue: 240;
    --saturation: 100%;
    --lightness: 50%;
}

.operators {
    --hue: 0;
    --saturation: 0%;
    --lightness: 30%;
}

.clear {
    --hue: 0;
    --saturation: 0%;
    --lightness: 30%;
}

button:hover {
    background-color: hsl(var(--hue), var(--saturation), calc(var(--lightness) + 10%));
}

button:active {
    background-color: hsl(var(--hue), var(--saturation), calc(var(--lightness) - 25%));
}